<script type="text/javascript">
//navbar active
$("li").css("background-color", "#5f5f5f");
$("#goto_2Pin_ime").css("background-color", "#4CAF50");
</script>

<body>
    <div style="float:right;">
<textarea rows="5" cols="70" placeholder="贴上文章
贴上空值则清除记录..
    "></textarea>
<br />
<button id="tareBtn0">导入</button>
    </div>
<div id="imeOuter"></div>

<div class="spanOut">
    <h4>字码提示</h4>
    <p id="tipDiv1" class="tipDiv">spanTIP</p>
    <p id="tipDiv2" class="tipDiv">2spanTIP</p>
    <p id="tipDiv3" class="tipDiv">3spanTIP</p>
    <p id="tipDiv4" class="tipDiv">4spanTIP</p>
</div>

</body>
<script type="text/javascript">

// regex test DeEVdev
var re = /\bsh|\bzh|\bch/gi;
var reg_1Yun = /\ba\b|\bo\b|\be\b/g;  //non map
var regScrollShen = /\bsh|\bzh|\bch/g;  // 2ed if
var regCap = /\bb|\bp|\bm|\bf|\bd|\bt|\bn|\bl|\bg|\bk|\bh|\bj|\bq|\bx|\br|\bz|\bc|\bs|\bw|\by/g;

var dflt_spss = "打字区域";
var cbInput = [];
// in string return Arr,and rm space
//getIn )
function s2Arr_ftSign(x){  
    // 还有其他符号可删除
    var x = x.replace(/\s/g,"");
    var y = x.split(""); 
    return y
}

// show check 如果空值 then showtext = "default string"
// spss1time 是 default String
function checkString(x){
    // if (x.length > 0){
    if ((x.length > 0) && (x)){
        // true then don't show spss1time 
        return x
    } else {
        // false then show spss1time 
 // Cookies.remove('coo_txShow');
        return dflt_spss
    }
}



// layout span input tagsTEXT,,by Arr
function layoutSItxt(xArr){
cbInput = xArr;  // for compare use
    var xArr_L = xArr.length;
    for (i = 0; i < xArr_L; i+=20) {
        for (j = i; j < i+20 ; j++) {
            var txt1 = $("<span></span>").attr("id", "txShow"+j).addClass("txShowCs").text(xArr[j]);
            $("#imeOuter").append(txt1);
        }
        var txt2 = $("<br />");
        $("#imeOuter").append(txt2);
        var txt3 = $("<input>").attr("id", "txIn"+i).addClass("txInCs").attr("type", "text").attr("maxlength", "20").attr("size", "36").attr("placeholder", "typeing");
        $("#imeOuter").append(txt3);
        var txt4 = $("<br /><br />");
        $("#imeOuter").append(txt4);
        if((i+20) > xArr_L ){
            var lastdouInput = xArr_L - i;
            $("#txIn"+i).attr("maxlength",lastdouInput).attr("size",lastdouInput * 1.6);
        }
    }
}

// find IME mapping code
function qryCh(a , b){
    for (x in b) {
        if(b[x].ch == a){
            // call shungpin ext plugin here
            // var b = cin3[x].code; 
            return b[x].code; 
        } } }

function sp_2pin(vala , _reg){
    var _cap0 = vala.match(_reg);
    var _cap = _cap0[0];
    var _btm = vala.replace(_cap,"");
    return [_cap,_btm]
}

// in a arr[], sp 1wordのcode(pinyin) to (top,bottom)，and return _2pin code 
function shungpin(a){
    for(var i = 0, res1 = [], len = a.length; i<len; i++){
    if (a[i].match(reg_1Yun)){
        res1[i] = a[i];
    } else if (!(a[i].match(regCap))) {
        res1[i] = qryCh(a[i],_2BtmYun);
    } else if (a[i].match(regScrollShen)) {
        var ccArr = sp_2pin(a[i],regScrollShen);
        var cc0 = qryCh(ccArr[0],_2Scroll);
        var cc1 = qryCh(ccArr[1],_2BtmYun);
        res1[i] = cc0+cc1;
    } else {
        var ccArr = sp_2pin(a[i],regCap);
        var cc0 = ccArr[0];
        var cc1 = qryCh(ccArr[1],_2BtmYun);
        res1[i] = cc0+cc1;
    } 
    }
    return res1
}



function loadPageShowInput(){
var spss1time ='';
    // spss1time =Cookies.get('coo_txShow');
    var s1t = checkString(spss1time);
var s1t2 =s2Arr_ftSign(s1t); 
// cbInput = s1t2;  // for compare use
        layoutSItxt(s1t2); 
}
loadPageShowInput();

function resultListfunc(a,b){
    for(var i = 0, qRelist = [], len = a.length; i<len; i++){
        qRelist[i]=qryCh(a[i],b);
    }
    return qRelist
}
        // add ms2pin here
        // shungpin
qryresult = resultListfunc(cbInput,cin3);
qryresult_ms2pin = shungpin(qryresult);

//show chCode 1st
function showchCodeTip1st(){
    var qc1 =  qryresult_ms2pin[0];
    var qc2 =  qryresult_ms2pin[1];
    var qc3 =  qryresult_ms2pin[2];
    var qc4 =  qryresult_ms2pin[3];
    $("#tipDiv1").text(qc1);
    $("#tipDiv2").text(qc2);
    $("#tipDiv3").text(qc3);
    $("#tipDiv4").text(qc4);
}
showchCodeTip1st();

function combineallinput(){
    var inputs = document.querySelectorAll("input");
    Array.prototype.forEach.call(inputs, function(input) {
        input.addEventListener("input", function(e) {
            // inputs value 有2层，2个for拆开
            for (var i = 0, val = "", len = inputs.length; i < len; i++) {
                val += inputs[i].value;
            }
            val = val.split("");
            for (i=0;i<val.length;i++){
                if(val[i] == cbInput[i]) {
                    var qc1 =  qryresult_ms2pin[i+1];
                    var qc2 =  qryresult_ms2pin[i+2];
                    var qc3 =  qryresult_ms2pin[i+3];
                    var qc4 =  qryresult_ms2pin[i+4];
                    $("#tipDiv1").text(qc1);
                    $("#tipDiv2").text(qc2);
                    $("#tipDiv3").text(qc3);
                    $("#tipDiv4").text(qc4);
                    $("#txShow"+i).css("background-color","lightgreen");
                } else {
                    $("#txShow"+i).css("background-color","red");
                }
            }
            // if done keyinput
            if (val.length == cbInput.length){
            } else{
            }
        })
    })
}
combineallinput();


function sendtext(x){
var y = checkString(x);
        var yy = s2Arr_ftSign(y);
    $("#imeOuter").empty();
qryresult = resultListfunc(yy,cin3)
qryresult_ms2pin = shungpin(qryresult);
        layoutSItxt(yy);
        combineallinput();
        // loadPageShowInput();
        showchCodeTip1st();
}


$('#tareBtn0').click(function(){
    var spssS =$("textarea").val();
    sendtext(spssS);
        $("textarea").val('');
});

</script>
